@font-face {
    font-family: 'HagridTextExtrabold';
    src: url('../fonts/hagrid-text-extrabold-trial-webfont.woff2') format('woff2'),
         url('../fonts/hagrid-text-extrabold-trial-webfont.woff') format('woff');
   
}

@font-face {
    font-family: 'HagridTextExtraboldItalic';
    src: url('../fonts/hagrid-text-extrabold-italic-trial-webfont.woff2') format('woff2'),
         url('../fonts/hagrid-text-extrabold-italic-trial-webfont.woff') format('woff');
    
}

@font-face {
    font-family: 'HagridRegular';
    src: url('../fonts/hagrid-regular-trial-webfont.woff2') format('woff2'),
         url('../fonts/hagrid-regular-trial-webfont.woff') format('woff');
    
}

.HagridTextExtrabold {
    font-family: 'HagridTextExtrabold', sans-serif;
}

.HagridTextExtraboldItalic {
    font-family: 'HagridTextExtraboldItalic', sans-serif;
}

.HagridRegular {
    font-family: 'HagridRegular', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.menu {
    background-color: #333;
    color: white;
    padding: 10px 0;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.menu ul li {
    display: inline-block;
    margin: 0 20px;
}

.menu ul li a {
    color: white;
    text-decoration: none;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 50px;
}


#education-skills,
#contact {
    background-color: #FAEFE6;
    height: 500px; /* Fixed height for education/skills and contact sections */
}

/* start about me section */

#about-me {
    background-color: #FD883D;
    color: white;
    height: 500px; /* Set height to auto to adjust based on content */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-me-text {
    flex: 1;
    padding: 0 20px;
}

.about-me-image img {
    max-width: 100%;
    height: auto;
    max-height: 900px; /* Set max height to prevent image from becoming too large */
}

/* end about me section */


/* start education and skills section */

/* Apply custom font size to the <h2> element */
.bigger-font {
    font-size: 55px; 
}

/* put list of languages as columns */
.two-column-list {
    display: grid;
    grid-template-columns: repeat(2, auto);  
}

.text-color {
    color: #553566;
}

.rectangle {
    background-color: #553566;
    color: #fff;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    border-radius: 10px;
    height: 100%;
  
}

.rectangle svg {
    margin-bottom: 15px;
}

/* Apply font color #FAEFE6 to the <h4> elements inside .rectangle */
.rectangle h4 {
    color: #FAEFE6;
    margin-top: 20px; 
}

/* Apply default font and font size to the <p> elements */
.rectangle p {
    font-size: 14px;
    color: #FAEFE6;
}

/* end education and skills section */

/* start projects section */

.projects {
    background-color: #553566;
}

.project-item {
    padding: 20px;
    background-color: white;
    margin-bottom: 20px;
}

/* end projects section */

